Package: hello
Version: 1.0.0
Architecture: all
Maintainer: John Doe <john@doe.com>
Depends: python
Description: John's hello package
 John's hello package is written in Python
 and prints a greeting.
 .
 It is awesome.
